img{
    background-size: cover;
}
ul li{
    display: flex;
    list-style-type: none;
    color: white;
}
.liste,ol{
display: flex;
text-align: center;
}
.liste{
  justify-content:center;
  background-color: rgb(78, 131, 230); 
 
}ol {
    list-style-type: none;
    padding-left: 800PX;


}
oL li{
 margin-right:  20PX;
 color: white;
 background-color: rgba(27, 7, 93, 0.796);
 padding: 8px;
}
.right {
    background-image: url(image/image-projet.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    height:600px;
    display: flex;
    color: white;
    position: relative ;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
}
.right h1, .btn{
    text-align: center;
    position: absolute;
    top: 300px;
    display: flex;
    margin-left: 300px;
    

    }
.right .btn{
    margin-top: 100px;
    transform: translateX(100%);
}
.container,.btn {
    text-align: center;

    ;
    
}
.btn{
    margin: 220px;
}
    
.B1{
    
}
.B2{
   background-color: rgba(255, 255, 255, 0.855);
   color: blue;
    
}

