body{
    padding: 20px;
 background: #f5f7fb;
}
fieldset{
    width: 800px;
    height: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px;
}
.buttons {
    margin-top: 15px;
}
.event-card{
    display: flex;
    margin: 20px;
    padding: 10px;
   gap: 70px;
}
.Lieu{
    background-color: rgb(141, 172, 238);
   width: 500px;
     padding: 30px; 
     
     border-radius: 5px ;
     box-shadow: 0 10px 10px 0;
}
.menu-buttons {
    display: flex;
 
    gap: 20px;
    margin: 30px ;
}
.btn{
    padding: 20px;
border-radius: 8px;
background-color:blue;
color: white;
}
.form{
    font-size: 50px;
    padding: 30px;
    width: 50%;
}
input,label, label{
width: 80%;
padding: 15px;
font-size: 18px;
}
.events-section{
    display: none;
}
.events-section:target{
    display: block;
}
.me{
    width: 100px;
  padding: 8px;
  font-size: 20px;
  margin: 5px;

}
a {
    text-decoration: none;
}
h1{
background-color: blue;
color: white;
border-radius: 10px 10px 10px 10px;
}
button{
    padding: 20px;
    background-color: blue;
    color: white;
    border-radius: 8px;
}